* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  flex-direction: column;
 
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  background: linear-gradient(190deg, rgb(78, 77, 77) 0%, rgba(153,144,148,1) 82%);
}

.navbar .brand {
  flex: 1;
  color: #f4f4f4;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
}
/*
.navbar .menu-icon {
  display: none;
  font-size: 1.5rem;
  color: #f4f4f4;
  cursor: pointer;
}
*/
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  padding: 1rem;
}

.navbar ul li a:hover {
  color: rgb(39, 162, 211);
}

/* Responsive styles */
@media (max-width: 468px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: flex;
    top: 60px;
    right: 0;
    background-color: rgba(78, 77, 77, 0.9);
    width: 100%;
    padding-top: 1rem;
  }
/*
  .navbar .menu-icon {
    display: block;
  }
*/
  .navbar ul.show {
    display: flex;
  }
}
/*
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
  background: rgb(255,253,253);
  background: linear-gradient(190deg, rgb(78, 77, 77) 0%, rgba(153,144,148,1) 82%);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: rgb(39, 162, 211);
}
/*

*/
body {
  margin: 0;
  font-family: fantasy;
  background: rgb(217, 214, 223);
  color: rgb(0, 0, 0);
  /*height: 100vh;*/
  /*line-height: 1.6;*/
  overflow:scroll;
  height: 100%;
  width: 100%;


  background: rgb(255,253,253);
  background: linear-gradient( 90deg, rgb(209, 209, 209) 0%, rgb(230, 230, 230) 82%);
}

.background {
  
}

gallery {
  padding: 0.5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
  padding: 0.5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}

gallery div.item {
  flex: 1 1 30% ;
  /*flex: auto;*/
  max-width: 400px ;
  min-width: 150px;
  /*width: 200px;*/
  margin: 0.5vw;
  transition: transform 0.15s linear;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background: rgb(153, 142, 142);
  padding: 5px;
  border-radius: 2px;
  
}

gallery div.item:nth-child(even) {
  transform: rotate(2deg);
}

gallery div.item:nth-child(odd) {
  transform: rotate(-4deg);
}

gallery div.item:nth-child(3n), gallery div.item:nth-child(7n) {
  transform: rotate(-7deg);
}

gallery div.item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.25);
  transition: transform 0.15s linear;
  z-index: 5;
}

gallery div.item img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  gallery div.item {
    margin: 0;
  }

  .gallery {
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/**/

.container {
  width: 100%;
  height: 100%;
  overflow-y:scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}
dl {
  padding: 0.5rem;
  text-transform: capitalize;
}  
 /*
*/

#Meg{
   padding: 60px;
   text-shadow: 2px 2px 3px #925c5c;
   margin-bottom: 35rem;
   text-align: center;
   align-items: center;
}

#Tegninger{
  padding: 60px;
  text-shadow: 2px 2px 3px #f4f4f4;
}

.Hobby{
   padding: 50px;
   margin: 30px;
  text-size-adjust: initial ;
   text-decoration:solid underline;
}

section h1 {
  font-size: 3rem;
  text-align: center;
  
}
.contakt {

}
.footer {
  border-style: #d37979;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #947979;
  text-align: center;
  background: rgb(255,253,253);
  background: linear-gradient(90deg, rgba(255,253,253,1) 0%, rgba(153,144,148,1) 82%);
}
@media screen and (max-width: 468px) {
  .footer {
    padding: 0.5rem;
  }
}
/* ide 1 */


/* @Media query */

/* @media (min-with: 426px "Mobil" or max-widt: 1024px "Laptop" ) {  
}  
*/
/*test area 2*/



